<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Пожалуйста авторизуйтесь</h2>
    <label for="login" class="sr-only">Логин</label>
    <input [(ngModel)]="login" name="login" type="text" id="login" class="form-control" placeholder="Ваш логин" required autofocus>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Ваш пароль" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Запомнить меня
      </label>
    </div>
    <button (click)="onLoginButton()" class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
  </form>
</div> <!-- /container -->